<p>secondchild works!</p>

<p *ngIf="Approved;else pending">Second Child data approved</p>

<ng-template #pending>
  second child is pending
</ng-template>

<div>
    <!-- <label for="approval"> Approved
      <input  type="checkbox"
       value="approved" 
       #cbapproved
       (click)="getApproval(cbapproved)"
       />
    </label> -->

    <label for="fname"> First Name
      <input  type="text"
       value="approved" 
       #fName
      />
    </label>
    <button (click)="getApproval(fName)"> click</button>
</div>
