<form [formGroup]="itemForm" (ngSubmit)="addItem()">
    <label for="item">Add Item:</label>
    <input type="text" id="item" formControlName="itemName" />
    <button type="submit">Add</button>
  </form>
  
  <ul>
    <li *ngFor="let item of itemArray.controls; let i = index">
      <input [value]="item.value" [readonly]="i === editIndex" />
      <button *ngIf="i !== editIndex" (click)="editItem(i)">Edit</button>
      <button *ngIf="i === editIndex" (click)="updateItem(i)">Update</button>
      <button (click)="removeItem(i)">Remove</button>
     
    </li>
  </ul>
