<h4 style="text-align:center;">Angular Reactive Forms</h4>
<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="my-form">
    <div class="mb-3" class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" placeholder="Enter Name" class="form-control">

      <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
        <div *ngIf="username?.errors?.['required']" class="error">
          Name Required
        </div>
        <div *ngIf="username?.errors?.['minlength']" class="error">
          Minimum Length Required
        </div>
      </div>
    </div>

    <div class="mb-3" class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter Password" class="form-control">

      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <div *ngIf="password?.errors?.['required']" class="error">
          Password Required
        </div>
        <div *ngIf="password?.errors?.['minlength']" class="error" >
          Min length Required
        </div>
      </div>
    </div>
    <div class="mb-3" class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter confirmPassword" class="form-control">
      <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
        <div *ngIf="confirmPassword?.errors?.['required']" class="error">
         confirm Password Required
        </div>
        <div *ngIf="confirmPassword?.errors?.['passwordMatchValidator']" class="error" >
          password and confirm password should Match
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="myForm.invalid" class="submit-button">Submit</button> <br />

    {{myForm.value.username}} <br />
    {{myForm.value.password}} <br />
    {{myForm.value.confirmPassword}} <br />


  </form>
</div>