<p>componentstemplates works!</p>

<p>{{getName()}}</p>

<h2 (click)="changeColor()">{{divColor}}</h2>

<li 
*ngFor="let col of clors"
[ngStyle]="{color: col.length > 4 ? 'red':'green'}"
>{{col}}</li>

<div class="form-check">
<input 
type="checkbox"
 class="checkbox-lg" 
 [checked] ="approved"
/>
<div>{{approved}}</div>
</div>
<br/>


<label> Test Data binding</label>


<input type="text" 
  class="formControl"
[(ngModel)] = "userInput"
 />
 <br/>

<!-- <input type="text" 
  class="formControl"
   
  (input)="handleInput($event)"
 /> -->
  

<app-firstchild 
[MessageFromParent]="MessageToChild"
(eventEmitter) = "MessageFromChildren($event)"
></app-firstchild>


<p *ngIf="approved">{{userInput}}</p>