<form [formGroup]="userDetails" (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username">
    <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors?.['required']">
             Name Required
        </div>
        <div *ngIf="username.errors?.['minlength']">
         Minimum Length Required
    </div>
   
   </div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="username.errors?.['required']">
             Password Required
        </div>
        <div *ngIf="username.errors?.['pattern']">
         Password should follow the pattern 
    </div>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword">
    <div *ngIf="confirmPassword.errors?.['required']">
        Password Required
   </div>
  

  
