  <h3>Hello Text this is from excercise component</h3>

  <h1>{{Title}}</h1>

  <!-- <button (click)="getTitle()">Click Me</button> -->
   

  <h4>{{Title}}</h4>
  <button (click)="Inc()" title="smaller">-</button>
  <button (click)="dec()" title="bigger">+</button>


  <div [class.highlight]="addRemoveClass" [style.color]="addRemoveStyle ? 'blue' : 'black'">
    {{ displayText }}
  </div>
  
  <button (click)="toggleClass()">Toggle Class</button>
  <button (click)="toggleStyle()">Toggle Style</button>